/*para carpeta de scss se llama @import"componentes/nombre del scss sin extension"*/
#form {
  display: flex;
  margin: 100em; }
  #form img {
    width: 60em; }

.texto4 {
  margin: 0 0 0 3em; }
  .texto4 h3 {
    color: #011330; }
  .texto4 h6 {
    color: #011330; }

.form-label h6 {
  color: #011330; }

.nuestros_amigos {
  display: flex; }
  .nuestros_amigos img {
    width: 40em; }
  .nuestros_amigos h3 {
    color: #011330; }

.container {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1em; }
  .container .cards {
    width: 330px;
    height: 380px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s; }
    .container .cards img {
      width: 330px;
      height: 210px; }
    .container .cards h4 {
      padding: 1rem;
      justify-content: left;
      color: #011330; }
    .container .cards h5 {
      font-weight: 300;
      color: #011330; }
    .container .cards h6 {
      font-weight: 300;
      color: #011330; }

.match {
  margin: 0 0 0 3em; }

.form-check {
  display: flex;
  margin: 0 0 0 3em;
  align-content: center;
  color: #011330; }
  .form-check h6 {
    color: #011330;
    padding: 0.5em 0em 0 0.5em; }

#texto2 {
  max-width: 100%;
  margin: 0em 4em 0 4em;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 10px; }
  #texto2 h2 {
    text-align: center;
    color: #011330; }
  #texto2 h3 {
    color: #011330; }

.quienes_somos h1 {
  text-align: center;
  color: #011330;
  margin-top: 1em; }

.historia {
  margin: 3em 5em 3em 5em;
  line-height: 1.5em; }

.voluntarios {
  display: flex; }
  .voluntarios img {
    width: 40em; }

.texto3 {
  margin: 0 0 0 3em; }
  .texto3 h3 {
    color: #011330; }

body {
  background-color: #ffffff;
  margin: 6em 0em 0 0em;
  padding: 0;
  line-height: 2.5em; }

main {
  margin: 0 2em 0 2em; }

img {
  max-width: 100%;
  display: flex; }
  img .logo {
    grid-area: logo;
    max-width: 5em;
    margin: 1em 0em 0 3em;
    transition: transform .2s; }
    img .logo :hover {
      transform: scale(1.5); }

div {
  color: #011330; }

h1 {
  font-size: 41px;
  color: #ffffff;
  font-family: roboto, sans-serif; }

h2 {
  font-size: 23.5px;
  color: #ffffff;
  font-family: roboto, sans-serif; }

h3 {
  font-size: 17.66667px;
  color: #ffffff;
  font-family: roboto, sans-serif; }

h4 {
  font-size: 14.75px;
  color: #ffffff;
  font-family: roboto, sans-serif; }

h5 {
  font-size: 13px;
  color: #ffffff;
  font-family: roboto, sans-serif; }

h6 {
  font-size: 11.83333px;
  color: #ffffff;
  font-family: roboto, sans-serif; }

.color-#011330 {
  background-color: #011330; }

.btn-whatsapp {
  background-color: #ffffff; }

.btn-facebook {
  background-color: #ffffff; }

.btn-instagram {
  background-color: #ffffff; }

p {
  color: #011330; }

h5 {
  padding: 0.5em 2em 0.5em 2em; }

button {
  border-radius: 30px;
  background-color: #011330;
  color: #011330;
  text-decoration: none; }
  button :hover {
    background-color: #343f5f;
    border-radius: 30px;
    text-decoration: none; }

#card-body {
  background-color: #343f5f; }
  #card-body h2 {
    color: #011330; }
  #card-body h3 {
    color: #011330; }

#text h2 {
  color: #011330;
  text-align: center;
  margin-top: 1em; }

#text h3 {
  color: #011330;
  text-align: center; }

#text button {
  margin-left: 45%; }

#inicio {
  grid-area: inicio;
  display: flex;
  margin: 3em; }
  #inicio img {
    width: 100%; }
  #inicio h1 {
    color: #011330; }
  #inicio h2 {
    color: #011330; }
  #inicio h3 {
    color: #011330; }
  #inicio button h5 {
    border-radius: 30px;
    color: #ffffff;
    margin: 1em;
    text-decoration: none; }

.banner {
  background-color: #011330;
  display: flex;
  border-radius: 10px; }
  .banner img {
    width: 500px; }
  .banner h2 {
    color: #ffffff;
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin: 1rem;
    font-size: 24px; }
  .banner h3 {
    color: #ffffff;
    padding: 0.5rem 1rem 0.5rem 2rem;
    margin: 1rem; }

.texto1 {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  margin: 0 10em 0 10em;
  border-radius: 10px;
  padding: 1em; }
  .texto1 h2 {
    color: #011330;
    text-align: left; }
  .texto1 h3 {
    text-align: left;
    color: #011330; }

.actividades {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1em; }
  .actividades .cards {
    width: 330px;
    height: 300px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s; }
    .actividades .cards img {
      width: 330px;
      height: 210px; }
    .actividades .cards h4 {
      font-weight: 600;
      text-align: center;
      padding: 1rem 0 0 0;
      color: #011330; }
    .actividades .cards h6 {
      padding: 0 1rem;
      font-size: 16px;
      font-weight: 300;
      color: #011330; }

.cards:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2); }

.footer {
  grid-area: footer;
  display: flex;
  background-color: #011330;
  color: #ffffff;
  padding: 1em; }
  .footer .redes {
    margin: 0em 0em 0em 20em;
    display: flex;
    align-items: center; }
  .footer .derechos {
    text-align: end;
    padding: 10px;
    margin: 0em 0em 0em 20em; }

.container2 {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1em; }
  .container2 .card {
    width: 330px;
    height: 330px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: left;
    transition: all 0.25s; }
    .container2 .card :hover {
      transform: translateY(-15px);
      box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2); }
    .container2 .card img {
      width: 330px;
      height: 220px; }
    .container2 .card h5 {
      font-weight: 600;
      text-align: center; }
    .container2 .card h6 {
      padding: 0 1rem;
      font-weight: 300;
      color: #011330; }
    .container2 .card a {
      font-weight: 500;
      text-decoration: none;
      color: #011330; }
