html, body{
    margin: 20px 40px 0px 40px;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    max-width: 100%;
    }
    
    img{
        max-width: 100%;
    }
    
    h1{
        font-family: roboto, sans-serif;
        font-size: 42px;
        color: #3668B1;
    }
    
    h2{
        font-family: roboto, sans-serif;
        font-size: 37px;
        color: #3668B1;
    }
    
    h3{
        font-family: roboto, sans-serif;
        font-size: 32px;
    }
    
    h4{
        font-family: roboto, sans-serif;
        font-size: 24px;
    }
    
    h5{
        font-family: roboto, sans-serif;
        font-size: 18px;
        color: #3668B1;
    }
    
    h6{
        font-family: roboto, sans-serif;
        font-size: 16px;
    }
     /* #grid_container{
        display: grid;
        grid-template-areas: 
        'logo links links links links boton'
        'main main main main main main'
        'footer footer footer footer footer footer';
        background-color: #ffffff;
        
    }  */
    
    header{
        display: grid;
        grid-template-areas: 
        'logo links links links links boton'
        ;
    
    }   
    /* }
     nav{
        grid-area: header;
        text-decoration: none;
        display: flex; 
        grid-column-gap: 20px;
        grid-column-start: 2;
        grid-column-end: 5;
     } */
    
    /* header {
        grid-area: header;
        text-decoration: none;
        background-color: aqua;
        display: flex;
        justify-content: center;
       
    } */
    .logo {
        grid-area: logo;
        max-width: 3em;
        display: flex;
        align-items: center;
    }
    
    .links a{
        grid-area: links;
        text-decoration: none;
        cursor: pointer;
        align-items: center;
        background-color: aqua;
    }
    
    nav div .boton{
        color:yellow;
        text-decoration: none;
        align-items: center;
        border-radius: 10px;
        background-color: blueviolet;
    }
    
    main {
        grid-area: main;
        background-color: blueviolet;
    }
    
    footer{
        grid-area: footer;
        background-color: cornflowerblue;
        text-decoration: none;
        display: flex;
        font-size: 14px;
        font-weight: bold;
        cursor: pointer;
        list-style-type: none;
        margin-left: 42em;
    }  
    
    /* header{
    background-color: #ffffff;
    display: flex;
    position: relative;
    }
    
     .navegacion ul li .logo img {              
    max-width: 2em;
    padding: 0.5em 0em 0em 0em ;
    margin: 0em 0em 0em 3em;
    }
    
     
    .links {
    
    } 
    
    .links a {
    color: #ffffff;
    padding: 1.5em 1.5em 0em 0.5em;
    text-decoration: none;
    text-align: right;
    
    }
    
    .links a:hover {
    background-color: #011330;
    color: #ffffff;
    }
    
    
    #inicio img{
    max-width: 100%;
    margin: 0;
    display: flex;
    }
    
    .texto-central p{
    background-color: #ffffff;
    box-shadow: 0 8px 8px #ffffff;
    font-family: 'roboto', sans-serif;
    border-radius: 10px;
    color: #3668B1;
    font-size: 16px;
    width: 18em;
    margin: 1em 1em 0em 3em;
    padding: 1em 1em 1em 1em;
    position: absolute;
    top: 5em;
    left: 3em;
    line-height: 18px;
    }
        
    p{
    text-align:left;
    line-height: 1.5em;
    }
    
    
    .quienes_somos p{
        font-size: 30px;
        text-align:center;
        color: #3668B1;
        margin: 0em 1em 0em 1em;
        padding: 0em;
        font-family: 'roboto', sans-serif;
        }
        
        .historia p{
            line-height: 1.5em;
            font-size: 16px;
            text-align: left;
            margin: 3em 6em 3em 6em;
        }
    
    
    .contenedor{
        background-color: #3668B1;
        margin: 0em;
        padding: 0em 1em 0em 0em;
        display: flex;
        align-items: center;
        max-width: 100%;
    }
    .contactos p{
        color: #ffffff;
        text-align: left;
        font-size: 12px;
        margin: 2em 1em 1em 3em;
      
    }
    
    .contenedor .redes .whatsapp{
    
        color: #ffffff;
        margin: 0em 0em 0em 20em;
        max-width: 100%;
        display: flex;
        align-items: center;
        padding: 0em 1em 0em 0em;
       
    }
    .contenedor .redes .facebook{
    
        color: #ffffff;
        margin: 0em 0em 0em 20em;
        max-width: 100%;
        display: flex;
        align-items: center;
        padding: 0em 0em 0em 0em;
       
    }
    .contenedor .redes .instagram{
    
        color: #ffffff;
        margin: 0em 0em 0em 20em;
        max-width: 100%;
        display: flex;
        align-items: center;
        padding: 0em 0em 0em 0em;
    }
    
    .contenedor .redes img{
    margin: 0em 0em 0em 0em ;
    padding: 0em 1em 0em 0em;;
    width: 1em;
    }
    
    .contenedor .redes p{
    
        font-size: 12px;
        text-align: center;
    } */
    
    
    /**/
    
    /* .container{
    max-width: 100%;   
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1em;
    }
    
    .container .card{
    width: 330px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2 );
    overflow: hidden;
    margin: 20px;
    text-align: left;
    transition: all 0.25s;
    }
    
    .container .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2 );
    }
    
    .container .card img{
    width: 330px;
    height: 220px;
    }
    
    .container .card h5{
    font-weight: 600;
    text-align: center;
    }
    
    .container .card h6{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
    }
    
    .container .card a{
    font-weight: 500;
    text-decoration: none;
    color: #3498db;
    
    }
    
    .form-check {
    display: flex;
    margin: 1em;
    align-content: center;
    }
    
    .form{
    line-height: 1.5em;
    padding: 3em;
    text-align: center;
    align-content: center;
    }
    
    .form-label{
        justify-content: left;
        text-align: left;
        color: #3668B1;
       }
    
    .form-control{
    margin: 1em;
    text-align: left;
    background-color: #b8e0fa;
    box-shadow: 0 2PX 2PX #3668B1;
    max-width: 100%;
    width: 30em;
    }
    
    .check{
       text-align: center;
    }
    
    .btn-primary{
       background-color: #011330;
        color: #ffffff;
    }
    
    .btn-primary button:hover{
        background-color: #4186f5;
         color: #041647;
     }
     */
    